@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Variable Create */
:root{
    --dark-clr: #081d2c;
    --second-dark-clr: #112e42;
    --text-clr: #f1f5f9;
    --light-text-clr: #c9d9e8;
    --global-clr: #0fbbff;
    --btn-clr:#ff499e;
}

/*Genaral Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
 /* html and body style*/
 html{
    overflow-x: hidden;
    line-height: calc(1em + 0.5rem);
 }

 body{
    font-family: "Jost", serif;
    background: var(--dark-clr);
    color: var(--text-clr);
    line-height: 1.3;
 }

 header{
    width: 100%;
    background: transparent;
    z-index: 1000;
    padding: 1.3rem 0;
 }
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
 }

@media screen and (max-height: 450px){
    .navbar{
        padding-top: 15px;
        font-size: 18px;
    }
}

 .logo{
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-clr);
}

.logo span{
    color: var(--global-clr);
}

.navbar ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    position: relative;
}

header .navbar ul li{
    position: relative;
    margin-right: 20px;
}

.navbar ul li a{
    position: relative;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 20px;
    color: var(--text-clr);
}
 
.navbar ul li a:hover, .navbar ul li a.active{
    color: var(--global-clr);
}


header .navbar ul li a::after{
    content: '';
    position: absolute;
    background: var(--global-clr);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    pointer-events: none;
    transition: .3s;
}

header .navbar ul li a:hover::after, header .navbar ul li a.active::after{
    width: 100%;
}

/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Fixed Header Styles */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

.fixed-header nav ul {
    list-style: none;
    text-align: center;
}

.fixed-header nav ul li {
    display: inline;
    margin: 0 15px;
}

.fixed-header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.fixed-header nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */

.cvbtn{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight:600;
    background: var(--btn-clr);
    color: var(--text-clr);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--btn-clr);
    cursor: pointer;
    transition: .5s;
}

.cvbtn:hover{
    box-shadow: 0 0 5px var(--btn-clr),
    0 0 5px var(--btn-clr),
    0 0 5px var(--btn-clr);
}

section{
    padding: 1% 4%;
}

.hero-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2%;
}

.hero-image img{
    height: 300px;
    width: 300px;
    min-width: 100px;
    filter: drop-shadow(0 0 60 var(--global-clr));
}

.hero-content{
    max-width: 50%;
   padding-right: 230px;
}

.hero-content h3{
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-content{
    font-size: 1.5rem;
    font-weight: 700;
}

.hero-content h2{
    font-size: 2rem;
    font-weight: 600;
}

.hero-content h2 span{
    color: var(--global-clr);
}

.hero-content p{
    font-size: 1.2rem;
    margin: 1rem 0;
}

.social-icons{
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
}
.social-icons a {
    display: inline-flex;
    font-size: 2rem;
    background: transparent;
    color: var(--global-clr);
    transition: .5s;
}

.social-icons a:hover{
    transform: translateY(-10px);
}

.hero-btn .btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.2rem 0;
    color: var(--dark-clr);
    background: var(--global-clr);
    border: 2px solid var(--global-clr);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.btn:hover{
    color: var(--global-clr);
}

.hero-btn .btn:nth-child(2){
    background: transparent;
    color: var(--global-clr);
}

.hero-btn .btn:nth-child(2)::before {
    background: var(--global-clr);
}

.hero-btn .btn:nth-child(2):hover{
    color: var(--dark-clr);
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dark-clr);
    transition: .5s;
    z-index: -1;
}
.btn:hover::before{
    width: 100%;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.stats .stat{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 100px;

}
.stats .stat h2:not(:last-child){
    border-right: 1px solid var(--global-clr);
    padding: 3%;
}

.stats .stat span {
    display: inline-block;
    color: var(--global-clr);
    font-size: 1.0rem;
}


/* Responsive Styles */
@media screen and (max-width: 640px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .hero-btn{
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: .3rem;
            font-weight: 500;
    }
    .navbar  {
        margin-left: 15px;
        font-size: 18px; 
        display: inline-block;
     } 
     .navbar ul li{
        width: 100%;
        text-align: center;
     }
     .navbar .logo{
        padding-left: 93px;
     }

    .cvbtn{
        display: inline-flex;
        align-items: center;
        gap: 0.2rem;
        font-weight:300;
        padding: 8px;
    }
    .social-icons{
        gap: 3rem;
        margin-bottom: 1rem;
    }
    .stats .stat{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 5px;
        min-width: 50px;
        font-size: 15px;
    }
    .stats .stat span {
        display: inline-block;
        color: var(--global-clr);
        font-size: .5rem;
    }
    .hero-image img{
        height: 150px;
        width: 150px;
        min-width: 50px;
        filter: drop-shadow(0 0 60 var(--global-clr));
    }
    .hero-content{
        max-width: 150%;
        padding-right:70px;
    }
   
    .hero-content h2 {
        font-size: 1.5rem;
        justify-content: center;
    }

    .hero-content p {
        font-size: .5rem;
        display: flex;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        flex-direction: column;
    }

    .navbar ul li a {
        font-size: 1.2rem;
    }

    .cvbtn {
        padding: 1rem;
        font-size: 1rem;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .hero-content h2 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 1.3rem;
    }

    .navbar ul li a {
        font-size: 1.4rem;
    }

    .cvbtn {
        padding: 1rem;
    }

    .btn {
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 640px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
        padding: 1rem 3%;
    }

    .hero-image {
        margin-bottom: 1rem;
    }
}
