@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Variable Create */
:root{
    --dark-clr: #081d2c;
    --second-dark-clr: #112e42;
    --text-clr: #f1f5f9;
    --light-text-clr: #c9d9e8;
    --global-clr: #0fbbff;
    --btn-clr:#ff499e;
}

/*Genaral Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
 /* html and body style*/
 html{
    overflow-x: hidden;
    line-height: calc(1em + 0.5rem);
 }

 body{
    font-family: "Jost", serif;
    background: var(--dark-clr);
    color: var(--text-clr);
    line-height: 1.3;
    background-size: cover;
    background-position: center;
 }

 .ser{
    padding: 4rem;
    text-decoration: none;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
 }
.ser span{
    position: relative;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--global-clr);
}

.ser span.tech{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 4rem;
    text-decoration: none;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;

}
.ser span.soft{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 4rem;
    text-decoration: none;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
}

.ser span.prof{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 4rem;
    text-decoration: none;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
}

.ser span.proj{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 4rem;
    text-decoration: none;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
}